[submodule "frontend/texlyre"]
	path = frontend/texlyre
	url = ../texlyre.git
[submodule "services/y-webrtc-server"]
	path = services/y-webrtc-server
	url = ../y-webrtc-server.git
[submodule "services/peerjs-server"]
	path = services/peerjs-server
	url = ../peerjs-server.git
[submodule "services/texlive-ondemand-server"]
	path = services/texlive-ondemand-server
	url = ../texlive-ondemand-server.git
[submodule "services/filepizza-server"]
	path = services/filepizza-server
	url = ../filepizza-server.git